section {
    min-height: 300px;
    padding: 20px;
    border-bottom: 3px solid ghostwhite;
}

.notice {
    max-width: 600px;
    background: gainsboro;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    color: #333;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 2.5rem;

}
